.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 100px;
    background-color: rgb(46, 46, 46);
    padding: 10px;

    .info {
        display: flex;
        justify-content: space-between;
        //outline: 2px solid red;
        width: 100%;
        gap: 10px;

        .title {
            text-align: center;
        }

        .phase {
            text-align: center;
        }

        .players {
            text-align: center;
        }
    }

    .buttonContainer {
        width: 100%;

        button {
            width: 100%;
        }
    }
}