:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //padding-left: 20px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/*button {
  padding: 8px 15px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: none;
  border-radius: .4rem;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}*/
button {
  background: linear-gradient(180deg, #2ecc71, #1e9e55);
  border: none;
  border-radius: 6px;
  padding: 10px 16px;

  color: #08140e;
  font-weight: 600;
  cursor: pointer;

  box-shadow: 0 6px 0 #0f6b3a;
  transition: all 0.15s ease;

  &:hover {
    filter: brightness(1.1);
  }

  &:active {
    transform: translateY(4px);
    box-shadow: 0 2px 0 #0f6b3a;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (max-width: 480px) {
  button {
    width: 100%;
  }
}