.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: 10px;
}

.cardsComunityContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  //outline: 2px solid red;
  gap: 20px;
}

.cardImage {
  width: 100px;
  height: 150px;
}

.tableList {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .tables {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    max-width: 100vw;
    gap: 20px;
  }
}

.tableContainer {
  display: flex;
  gap: 10px;
}